<section id="awards" class="sectionContent">
    <div class="content flex-container">
        <div class="flex-item flex-text">
            <h2 class="big">The 2023 O’Reilly Awards winners are in!</h2>
            <p class="big">Learn who best put the O’Reilly learning platform to work for their organization and what the judges were looking for in winning submissions.</p>
            <div class="logo-container">
                <img src="https://cdn.oreillystatic.com/oreilly/images/awards-2023/logo_hp.svg" alt="HP logo">
                <img src="https://cdn.oreillystatic.com/oreilly/images/awards-2023/logo_hcl.png" alt="HCL logo">
                <img src="https://cdn.oreillystatic.com/oreilly/images/awards-2023/logo_tavant.png" alt="Tavant logo">
                <img src="https://cdn.oreillystatic.com/oreilly/images/awards-2023/logo_grubhub.png" alt="Grubhub logo">
                <img src="https://cdn.oreillystatic.com/oreilly/images/awards-2023/logo_dataart.svg" alt="DataArt logo">
                <img src="https://cdn.oreillystatic.com/oreilly/images/awards-2023/logo_medidata.svg" alt="Medidata logo">
            </div>
            <div>
                <a href="#" class="btn-secondary">See the results</a>
            </div>
        </div>
        <div class="flex-item">
            <figure>
                <video playinline autoplay muted loop src="https://cdn.oreillystatic.com/oreilly/videos/oreilly_award_animation_alpha2_2023.webm"></video>
            </figure>
        </div>
    </div>
</section>
