<section id="hero-section">
    <div class="content grid-content hero-content">
        <div class="grid-item hero-text">
            <h1>Build your team’s <span class="highlight">tech skills</span> for real business impact</h1>
            <div class="hero-picture">
                <figure></figure>
            </div>
            <p>More than 5,000 companies count on our digital courses and more to guide their teams through the tools and technologies that drive business outcomes. We can help yours too.</p>
            <div>
                <a href="#" class="btn-primary">Request a demo</a>
                <a href="#" class="btn-secondary">Try it free</a>
            </div>
        </div>
        <div class="grid-item hero-picture">
            <figure></figure>
        </div>
    </div>
</section>