<section id="cards" class="sectionContent">
    <div class="content cards-container">
        <div class="card">
            <h2>New AI policy for O’Reilly authors and talent</h2>
            <p>O’Reilly president Laura Baldwin shares the company’s ethical approach to leveraging GenAI tools and ensuring O’Reilly experts are compensated for their work.</p>
            <div>
                <a class="btn-secondary" href="#">See it now</a>
            </div>
        </div>
        <div class="card">
            <h2>It’s time to upskill your teams to leverage generative AI</h2>
            <p>LLMs aren’t the future of work, they’re the now. Every employee needs to learn how to leverage large language models for your organization to stay ahead. Fortunately, O’Reilly has all the resources your team needs.</p>
            <div>
                <a class="btn-secondary" href="#">Learn more</a>
            </div>
        </div>
    </div>
</section>