#testimonials {
    background: linear-gradient(90deg, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(244, 244, 244, 1) 100%);
}


.flex-container {

    .testimonial-videos {
        .video-container {
            border: 1px solid rgb(0, 113, 235);
            border-radius: 10px;
            aspect-ratio: 16/9;
            overflow: hidden;
            margin-bottom: 10px;

            img {
                object-fit: fill;
                width: 100%;
                height: 100%;
            }
        }
        .more-testimonials {
            display: flex;
            column-gap: 10px;
            .video-container {
                width: 45%;
                border: 1px solid rgba(0, 0, 0, .1);
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 800px) {
    .flex-container {
        .testimonial-videos {
            margin: 0 auto;
            width: 80%;
        }
    }
}