<section id="identity" class="sectionContent">
    <div class="content flex-container reverse">
        <div class="flex-item">
            <figure>
                <img src="https://cdn.oreillystatic.com/images/dei/deij-odot.svg" alt="">
            </figure>
        </div>
        <div class="flex-item flex-text">
            <h2 class="big">Identity shouldn’t hold anyone back</h2>
            <p class="big">To ensure more voices are heard, we’re offering 500 people an O’Reilly diversity scholarship to get free access to our industry-leading platform for a year.</p>
            <div>
                <a href="#" class="btn-secondary">Learn more</a>
            </div>
        </div>
    </div>
</section>
