<section id="identity" class="sectionContent">
    <div class="content flex-container">
        <div class="flex-item flex-text">
            <h2 class="big">Sharing the knowledge of innovators for over 40 years</h2>
            <p class="big">From books to leading tech conferences to a groundbreaking online learning platform, we’ve focused on creating the best technical learning content for more than four decades. Your teams can benefit from that experience.</p>
            <div>
                <a href="#" class="btn-secondary">Learn more</a>
            </div>
        </div>
        <div class="flex-item">
            <figure>
                <img src="https://cdn.oreillystatic.com/images/dei/deij-odot.svg" alt="">
            </figure>
        </div>
    </div>
</section>
